<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eveningClasses</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>eveningClasses.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validator</display-name>
    <servlet-name>Validator</servlet-name>
    <servlet-class>eveningClasses.Validator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/Validator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validator1</display-name>
    <servlet-name>Validator1</servlet-name>
    <servlet-class>eveningClasses.Validator1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator1</servlet-name>
    <url-pattern>/Validator1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetails</display-name>
    <servlet-name>CourseDetails</servlet-name>
    <servlet-class>eveningClasses.CourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetails</servlet-name>
    <url-pattern>/CourseDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropCourse</display-name>
    <servlet-name>DropCourse</servlet-name>
    <servlet-class>eveningClasses.DropCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropCourse</servlet-name>
    <url-pattern>/DropCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>eveningClasses.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Confirm</display-name>
    <servlet-name>Confirm</servlet-name>
    <servlet-class>eveningClasses.Confirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Confirm</servlet-name>
    <url-pattern>/Confirm</url-pattern>
  </servlet-mapping>
</web-app>